## [Start] ResponseTemplate. **

#set($MerchantID = "1236548")
#set($HMacPassword = "hmac")
#set($EncryptionPassword = "encrypt")
$util.qr($ctx.result.put("__operation", "Mutation"))
#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#else
  $util.qr($ctx.result.put("MerchantID", $MerchantID ))
  $util.qr($ctx.result.put("HMacPassword", $HMacPassword))
  $util.qr($ctx.result.put("EncryptionPassword", $EncryptionPassword))
  $util.toJson($ctx.result)
#end

## [End] ResponseTemplate. **
