## [Start] ResponseTemplate. **

#set($MerchantID = "Tentamus_Adamson_test")
#set($HMacPassword = "K=p25W[iX_t6)7BrcR?8N!9dx3L(Ho*4")
#set($EncryptionPassword = "Jd8=[Dt9s2A(3H?q")
$util.qr($ctx.result.put("__operation", "Mutation"))
#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#else
  $util.qr($ctx.result.put("MerchantID", $MerchantID ))
  $util.qr($ctx.result.put("HMacPassword", $HMacPassword))
  $util.qr($ctx.result.put("EncryptionPassword", $EncryptionPassword))
  $util.toJson($ctx.result)
#end

## [End] ResponseTemplate. **
