## Add secret values to the response
$util.qr($ctx.result.put("SecretValue1", $secretValue1))
$util.qr($ctx.result.put("SecretValue2", $secretValue2))

$util.qr($ctx.result.put("__typename", "PaymentDetails"))

#if( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#else
  $util.toJson($ctx.result)
#end
